body {
	color: #666666;
	background-color: #b3b3b3;
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-size: 2.8rem;
	font-family: 'Lobster', cursive;
}

h2 {
	font-size: 2.2rem;
	color: #333333;
	font-family: 'Lobster', cursive;
}

select {
	width: 100%;
}

input {
	width: 100%;
}

img {
	width: 100%;
}

header {
	background-image: url(../images/header-bg.png);
	color: #fff;
	padding-top: 36px;
	padding-bottom: 36px;
}

footer {
	color: #fff;
	padding-top: 24px;
}

.content {
	padding-top: 36px;
	padding-bottom: 48px;
	background-color: #fff;
}

.themepark__intro {
	padding-bottom: 24px;
}

.themepark__title {
	padding-top: 24px;
}

@media (max-width: 767px) {
    .themepark__image {
    	margin-bottom: 24px;
    }
}

#map {
	height: 534px;
}

@media (max-width: 767px) {
    .yourplace {
    	margin-top: 12px;
	}
}

#yourmap {
	height: 400px;
}
